<div class="container-fluid fixed-top" style = "background-color: #0e0f12;">
    <div class="row">
        <div class="col-sm-6">
            <h1 class="fw-bold textprimary"><i class="fa-solid fa-utensils"></i> Restaurant Portal</h1>
        </div>
        <div class="col-sm-6 text-white fw-semibold text-uppercase">
            <nav class="navbar">
                <a href="{% url "home" %}" class="nav-link anchor">Home</a>
                <a href="" class="nav-link anchor">About</a>
                <a href="" class="nav-link anchor">Service</a>
                <a href="" class="nav-link anchor">Menu</a>
                <a href="{% url "login" %}" class="nav-link anchor">Login</a>
                <a href="" class="nav-link anchor">Contact Us</a>
            </nav>
        </div>
    </div>
</div>