{% extends "subadmin/base.html" %}
{% load widget_tweaks %}

{% block title %}
    subAdmin Food
{% endblock title %}


{% block content %}
    
<div class="container text-center">
    <h1 class="bg-dark textprimary p-2 rounded">Add New Food Item</h1>
</div>

<div class="container">
    {% if foodform.errors %}
        {% for field in foodform %}
                {% for error in field.errors %}
                <div class="alert alert-danger alert-dismissible text-center">
                  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                  <strong>{{field.label}} : </strong> {{ error|striptags }}.
                </div>
                {% endfor %}
        {% endfor %}
    {% endif %} 
</div>

<div class="container">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success alert-dismissible text-center">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{message}}
            </div>
        {% endfor %}
    {% endif %} 
</div> 


<div class="container container mt-5 w-50 bg-white shadow-lg rounded-3">
    <form action="" method="POST" novalidate enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="row g-4">
            <div class="col-sm-12">
                <br>
                    <strong><label for="" class="text-start">Enter Food Name : </label></strong>
                    <br>
                    {% render_field foodform.name class="form-control" placeholder="Enter Food Name" %}                  
            </div>
            <div class="col-sm-12">
                    <strong><label for="" class="text-start">Enter Food Category : </label></strong>
                    <br>
                    {% render_field foodform.category class="form-control" placeholder="Enter Food Category" %}                  
            </div>
            <div class="col-sm-12">
                    <strong><label for="" class="text-start">Enter Food Price : </label></strong>
                    <br>
                    {% render_field foodform.price class="form-control" placeholder="Enter Food Price" %}                  
            </div>
            <div class="col-sm-12">
                    <strong><label for="" class="text-start">Upload Food Picture : </label></strong>
                    <br>
                    {% render_field foodform.pic class="form-control"%}                  
            </div>
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-6 text-center">
                        <input type="submit" value="Add Food" class="btn btn-success">
                    </div>
                    <div class="col-sm-6 text-center">
                        <a href="{% url "subadmin-view-foods" %}" class="btn btn-info text-end">View Existing Food</a>
                    </div>
                </div>             
            </div>
        </div>
        <br>
    </form>
</div>

{% endblock content %}